/*
*	
*	Roulette - Play 4-Fun! Free! by buttonstudio.pl
*	Supported by:
*		https://unsplash.com
*		http://subtlepatterns.com
*		http://fontello.com
*		https://www.google.com/fonts
*		https://jquery.com
*
*
*/

#container
{
	width: 480px;
	height: 480px;
	position: relative;
	outline: 1px dashed #fff;
	float: left;
}

/*======================================*/
/*				Roulette				*/
/*======================================*/

#roulette
{
	width: 360px;
	height: 360px;
	padding: 20px;
	position: relative;
	background: url('../images/wheel.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

#roulette.number
{
	-webkit-animation-name: 'number';
			animation-name: 'number';
	-webkit-animation-timing-function: cubic-bezier(0, 0.4, 0.4, 1.05);
			animation-timing-function: cubic-bezier(0, 0.4, 0.4, 1.05);
	-webkit-animation-duration: 5s;
			animation-duration: 5s;
	-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
}

#roulette li
{
	right: 0;
	left: 0;
	margin: auto;
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	-webkit-transform-origin: 10px 180px;
			transform-origin: 10px 180px;
	background-color: #000;
	color: #fff;
	border-radius: 2px;
	text-align: center;
	line-height: 20px;
}

#roulette li:first-child
{
	background: #00ff00;
}

#roulette li:nth-of-type(even)
{
    background: #ff0000;
}

/*======================================*/
/*				Ball					*/
/*======================================*/

#ball
{
    position: absolute;
    z-index: 80;
	top: 76px;
	left: 113px;
    width: 248px;
	height: 248px;
}

#ball span
{
    display: block;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
    box-shadow: inset -.5em -.5em 1em rgba(183, 183, 183, 1),0 0 2em #000;
}

#ball.ball
{
	-webkit-animation-name: 'ball';
			animation-name: 'ball';
	-webkit-animation-timing-function: cubic-bezier(0, 0.4, 0.4, 1.05);
			animation-timing-function: cubic-bezier(0, 0.4, 0.4, 1.05);
	-webkit-animation-duration: 6s;
			animation-duration: 6s;
	-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
}

@-webkit-keyframes ball
{
	from{
		-webkit-transform: rotate(0);
		transform: rotate(0);}
	to{
		-webkit-transform: rotate(-3597deg);
		transform: rotate(-3597deg);
	}
}