body
{
	color: #fff;
	background-color: #ddd;
	font-size: 20px;
	font-family: 'Verdana', sans-serif;
	background: url('../images/bg.png');
	background-width: 100%;
	background-height: 100%;
}
a
{
	text-decoration: none;
	color: #fff;
}
@font-face
{
	font-family: 'Scriptina';
	src: url('../fonts/Scriptina/scriptina.ttf');
}

/* element container */
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* element logo */
#logo
{
	width: 100%;
	text-align: center;
	font-family: 'Scriptina';
	font-size: 80px;
}
#logo img
{
	width: 100%;
	height: 100%;
}

/* element login */
#login
{
	width: 300px;
	height: 400px;
	background: rgba(255,255,255,0.6);
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	font-family: 'Scriptina';
	color: #444;
	text-align: center;
	transform:perspective(300px) rotateY(10deg);
	transition-duration: 1s;
	float: left;
	margin-top: 20px;
}
#login p
{
	line-height: 20%;
}
#login p a
{
	line-height: 100%;
	font-family: 'Verdana', sans-serif;
	transition-duration: 100ms;
	color: #394150;
}
#login p a:hover
{
	letter-spacing: 1px;
}

/* element register */
#register
{
	width: 300px;
	height: 400px;
	background: rgba(255,255,255,0.6);
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	font-family: 'Scriptina';
	color: #444;
	text-align: center;
	transform:perspective(300px) rotateY(-10deg);
	transition-duration: 1s;
	float: right;
	margin-top: 20px;
}
#register p
{
	line-height: 20%;
}
#register p a
{
	line-height: 100%;
	font-family: 'Verdana' sans-serif;
	transition-duration: 100ms;
	color: #394150;
}
#register p a:hover
{
	letter-spacing: 1px;
}

/* element news */
#news
{
	width: 340px;
	height: 320px;
	background: rgba(255,255,255,0.6);
	float: left;
	padding: 20px;
	margin-top: 40px;
	margin-left: 10px;
	border-radius: 10px;
	text-align: justify;
	color: #394150;
}
#news h2
{
	text-align: center;
	color: #444;
	font-family: 'Scriptina';
	margin-top: -10px;
}
#news p
{
	color: #444;
	text-align: right;
	font-size: 12px;
	position: relative;
	bottom: 0;
}

/* kalsa button */
.button
{
	width: 200px;
	height: 50px;
	background-color: #394150;
	border-radius: 5px;
	color: #fff;
	font-size: 25px;
	border: none;
	transition-duration: 300ms;
}
#login .button:hover
{
	transform:perspective(400px) rotateY(-20deg) scale(1.2);
}
#register .button:hover
{
	transform:perspective(400px) rotateY(20deg) scale(1.2);
}
/* klasa textbox */
.textbox
{
	width: 200px;
	height: 20px;
}

/* element footer */
#footer
{
	width: 100%;
	margin-top: 50px;
	text-align: center;
	font-size: 18px;
}
#footer a:hover
{
	color: #9fa7b6;
}